{{extend 'layout.html'}}
<div class="container-fluid">
	<form action="{{=URL('params.html')}}">
		<button type="submit" class="btn btn-primary">Solve a new problem</button>
	</form>
</div>
<div class="container-fluid chart-container">
	<div class="row chart-row">
		<div class="col-md-12" id="chart_div"></div>
	</div>
</div>


<script type="text/javascript">
	var result='{{=result}}';
	if(result=='Feasible'){
		var variablesno='{{=variables}}';
		google.charts.load('current', {packages:["orgchart"]});
      	google.charts.setOnLoadCallback(drawChart);


      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');

        // For each orgchart box, provide the name, manager, and tooltip to show.
        data.addRows({{=XML(example)}});

        // Create the chart.
        var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));

		if(variablesno==2){
			chart.draw(data, {size:'large',allowHtml:true,selectedNodeClass:'best',nodeClass:'node'});

		}else if(variablesno<=5){
			chart.draw(data, {size:'medium',allowHtml:true,selectedNodeClass:'best',nodeClass:'node'});

		}else{
			chart.draw(data, {size:'small',allowHtml:true,selectedNodeClass:'best',nodeClass:'node'});
		}
        
      }
      

	}else{
		$('#chart_div').append('<h1>'+result+' problem</h1>');
	};



	
         </script>
         